[user]
	name = Ingmar Schoen
	email = ingmar.schoen@gmail.com
[alias]
	logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
		la = "!git config -l | grep alias | cut -c 7-"
		s  = "!git status"
